* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.color-generator {
  height: 400px;
  width: 600px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  box-shadow: #333333;
}
.controllers {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.bx {
  font-size: 40px;
  cursor: pointer;
  color: #333333;
}

#color {
  text-align: center;
  font-size: 18px;
}

#color-display {
  text-align: center;
  font-size: 24px;
  color: #333333;
  height: 100%;
}

.copy-color {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

#color-type {
  text-align: center;
  font-size: 26px;
  color: #666666;
  margin-top: 10px;
}

#color-code {
  text-align: center;
  font-size: 20px;
  color: #007bff;
  margin-top: 5px;
}

#type-chang-btn {
  margin-top: 15px;
  background: #007bff;
  color: #ffffff;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: none;
}
